<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <link rel="stylesheet" href="/static/css/mdui.min.css">
    <link rel="stylesheet" href="/static/css/xcraft.css">
    <link rel='stylesheet' href='/static/css/nprogress.css'/>
    <title>
        {% if page %} {{ page }} {% else %} 404 {% endif %} - {% if name %} {{ name }} {% else %} Xcraft {% endif %}
    </title>
</head>
<body class="{% if theme_primary %} {{ theme_primary }} {% else %} mdui-theme-primary-indigo {% endif %} {% if theme_accent %} {{ theme_accent }} {% else %} mdui-theme-accent-pink {% endif %} mdui-appbar-with-toolbar mdui-drawer-body-left">
<div id="content">
    <div class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-theme">
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#drawer'}"><i
                    class="mdui-icon material-icons">menu</i></a>
            <a href="javascript:;" class="mdui-typo-headline" id="name">{% if name %} {{ name }} {% else %} Xcraft {%
                endif %}</a>
            <a href="javascript:;" class="mdui-typo-title" id="title">{% if page %} {{ page }} {% else %} 404 {% endif
                %}</a>
            <div class="mdui-toolbar-spacer"></div>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>
            <a href="" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></a>
        </div>
    </div>
    <div class="mdui-drawer" id="drawer">
        <ul class="mdui-list">
            <a href="/">
                <li class="mdui-list-item mdui-ripple mdui-ripple-black">
                    <i class="mdui-list-item-icon mdui-icon material-icons">info</i>
                    <div class="mdui-list-item-content">状态</div>
                </li>
            </a>
            <li class="mdui-subheader">Xcraft应用</li>
            <a href="/multicraft">
                <li class="mdui-list-item mdui-ripple mdui-ripple-black">
                    <i class="mdui-list-item-icon mdui-icon material-icons">cloud</i>
                    <div class="mdui-list-item-content">Multicraft</div>
                </li>
            </a>
            <a href="/pterodactyl">
                <li class="mdui-list-item mdui-ripple mdui-ripple-black">
                    <i class="mdui-list-item-icon mdui-icon material-icons">flight</i>
                    <div class="mdui-list-item-content">翼龙面板</div>
                </li>
            </a>
            <a href="/amadeus">
                <li class="mdui-list-item mdui-ripple mdui-ripple-black">
                    <i class="mdui-list-item-icon mdui-icon material-icons">disc_full</i>
                    <div class="mdui-list-item-content">Amadeus</div>
                </li>
            </a>
            <li class="mdui-subheader">Xcraft管理</li>
            <a href="/files">
                <li class="mdui-list-item mdui-ripple mdui-ripple-black">
                    <i class="mdui-list-item-icon mdui-icon material-icons">folder</i>
                    <div class="mdui-list-item-content">文件</div>
                </li>
            </a>
            <a href="/security">
                <li class="mdui-list-item mdui-ripple mdui-ripple-black">
                    <i class="mdui-list-item-icon mdui-icon material-icons">security</i>
                    <div class="mdui-list-item-content">安全</div>
                </li>
            </a>
            <a href="/settings">
                <li class="mdui-list-item mdui-ripple mdui-ripple-black">
                    <i class="mdui-list-item-icon mdui-icon material-icons">settings</i>
                    <div class="mdui-list-item-content">设置</div>
                </li>
            </a>
        </ul>
    </div>
    <div class="petch_content mdui-container" id="petch_content">
        {% block petch_content %}{% endblock %}
    </div>
</div>
<script src="/static/js/jq.js"></script>
<script src="/static/js/mdui.min.js"></script>
<script src="/static/js/pjax.js"></script>
<script src='/static/js/nprogress.js'></script>
<script>
    //$(document).pjax('a', '#petch_content')
    $(document).pjax('a', '#petch_content')
    $(document).on('pjax:start', function () {
        NProgress.start();
    });
    $(document).on('pjax:end', function () {
        NProgress.done();
        mdui.mutation();
    });
</script>
</body>
</html>